<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> Cars Price</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="static/css/default.css" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div id="menu">
  <ul>
    <li class="active"><a href="home.html">Home</a></li>
    <li><a href="about.html">About</a></li>
     <li><a href="contact.html">Contact</a></li>
   
    
  </ul>
</div>

 <h2>I have worked on a dataset of used cars listed from Ebay Kleinanzeigen Germany .<br>
 the data  was extracted from a form filled by people who want to sell cars on the ebay site</h2><br>

    
  

<br>
<br>

<h1 >
to have the dataset click here :
<a href="https://www.kaggle.com/orgesleka/used-cars-database/download" title="dataset"> <i class="fas fa-download"> DATASET</i></a></h3>
    
<br>
<center> <table style="width:50%">
    <tr>
      <td  colspan=2  bgcolor="#008B8B"><center>  the description of the data  has 371540 listings and 20 attributes</center></td>
     </tr>

  <tr>
    <th> Attribute</th>
    <th>Meaning of the attribute</th>
  </tr>
     <tr>
    <td>DateCrawled </td>
    <td> when advert was first crawled, all field-values are taken from this date</td>
  </tr>
    <tr>
    <td>Name </td>
    <td>headline, which the owner of the car gave to the advert</td>
  </tr>
     <tr>
    <td>Seller </td>
    <td>'privat'(ger)/'private'(en) or 'gewerblich'(ger)/'dealer'(en)</td>
  </tr>
      <tr>
    <td>OfferType </td>
    <td>'Angebot'(ger)/'offer'(en) or 'Gesuch'(ger)/'request'(en)</td>
  </tr>
     
  <tr>
    <td>Price </td>
    <td>the price on the advert to sell the car</td>
  </tr>
  <tr>
    <td>Abtest </td>
    <td>ebay-intern variable </td>
  </tr>
    <tr>
    <td>VehiclType </td>
    <td>one of eight vehicle-categories</td>
  </tr>
       <tr>
    <td>YearOfRegistration </td>
    <td>at which year the car was first registered</td>
  </tr>
       <tr>
    <td>Gearbox  </td>
    <td>'manuell'(ger)/'manual'(en) or 'automatik'(ger)/'automatic'(en)</td>
  </tr>
       <tr>
    <td>PowerPS' </td>
    <td>the power of the car in PS</td>
  </tr>
       <tr>
    <td>Model </td>
    <td>the cars model</td>
  </tr>
        <tr>
    <td>Kilometer</td>
    <td>how many kilometres the car has driven</td>
  </tr>
          <tr>
    <td>MonthOfRegistration</td>
    <td> at which month the car was first registered</td>
  </tr>
          <tr>
    <td>FuelType  </td>
    <td> one of seven fuel-categories</td>
  </tr>
          <tr>
    <td>Brand</td>
    <td> the cars brand</td>
  </tr>
        <tr>
    <td>NotrepairedDamage</td>
    <td>if the car has a damage which is not repaired yet</td>
  </tr>
      <tr>
    <td>dateCreated</td>
    <td>the date for which the advert at 'ebay Kleinanzeigen' was created</td>
  </tr>
   <tr>
    <td>nrOfPictures</td>
    <td>number of pictures in the advert</td>
  </tr>
  <tr>
    <td>postalCode</td>
    <td> where in germany the car is located</td>
  </tr>
  <tr>
    <td>lastSeen</td>
    <td> when the crawler saw this advert last online</td>
  </tr>
         
  
  
</table> </center>
 
</div>
    

    

 
    

    

</body>
</html>
