<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> Cars Price</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link href="static/css/default.css" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div id="menu">
  <ul>
    <li class="active"><a href="home.html">Home</a></li>
    <li><a href="about.html">About</a></li>
   
    <li><a href="contact.html">Contact</a></li>
  </ul>
</div>

<!--div class="card">
<img class="sticky" src="images/img10.jpg" alt="hr"><br>-->
<br>
<br>
<center><h1>Elharchaoui Zakaria </h1><br>
  <p class="title">Software Engineer | Data Engineer     </p>

<h1>
  <br>
<a target="_top"  href= "mailto:zack.elharchaoui.ze@gmail.com" title="ZAKARIA"> <i class="fas fa-envelope-square"> Gmail</i>
</a>
</h1>
 <br>

<h1>
<a href="https://github.com/zackhr" title="ZAKARIA"> <i class="fab fa-github">  Github</i>
</a>
</h1>
<br>
<h1>

<a href="https://www.linkedin.com/in/zakaria-elharchaoui-10141b135/" title="ZAKARIA">
<i class="fab fa-linkedin"> Linkedin</i>
</a>
</h1>
</center>
<br>



</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
 
  
  
</div>    


</body>
</html>
